body {
	font-size: 0;
}

.introduce {
	background-image: url(../img/section1_high.jpg);
	min-height: 586px;
	max-width: 1169px; /*cach 2*. khi thu nho man hinh web thi background image se co dinh o width cua image*/
	background-repeat: no-repeat;
	background-position:top center;
	margin: 0 auto; /* cach 2*/
}
.introduce-screen {
	text-align: center;
}
.introduce .introduce-logo img{
	margin-top: 35px;
}
.introduce .introduce-button img{
	margin-top: 40px;
}
.introduce .introduce-button img:hover{
	opacity: 0.6;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.introduce .introduce-banner img{
	margin-top: 40px;
}
a {
    background: 0 0;
}
.navbar-custom{
	margin-bottom: 0;
}
.navbar-header {
	margin-left: 115px !important;
	margin-top: 60px !important;
}
@media (min-width: 1200px){
.navbar-header {
	margin-left: 230px !important;
	margin-top: 60px !important;
}}
.about {
	background-image: url(../img/section2_high.jpg);
	min-height: 497px;
	background-repeat: no-repeat;
	background-position: top center;
	max-width: 1169px;
	margin: 0 auto;
}
.about-text {
	font-size: 15px;
	color: #fff;
	line-height: 25px;
	margin-top: 40px;
}
.about .about-text span {
	font-size: 20px;
}
.about .about-button img{
	margin-top: 30px;
}
.about .about-button img:hover{
	opacity: 0.5;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.information {
	min-height: 1500px;
	color: #fff;
	max-width: 1169px;
	margin: 0 auto;
	position: relative;
}
.maya-slider{
	float: right;
	max-width: 568px;
	margin-top: 55px;
}
.maya-indicators{
	bottom: -32px;
}
/*#b89c6d
#cbac73*/
.information .maya-indicators li{
	border-color: rgba(121, 29, 29, 0);
	background: radial-gradient(#EEEEEE,#CACACA);
	width: 12px;
	height: 12px;
}
.carousel-indicators .active {
    background: radial-gradient(#c8aa76,#b09464) !important;
    border-color: #b09464 !important;
 }
.information-content {
  margin-top: 55px;
  margin-left: 185px;
  position: absolute;
  width: 370px;
  float: left;
  color: black;
  line-height: 25px;
  font-size: 14px;
  text-align: justify;  
  min-height: 357px;
}
@media (min-width: 1172px){
	.information-content{
		margin-left: 200px;
	}
}
.content-header {
	margin-top: 0px;
	font-size: 19px;
	color:black;
	font-family: Verdana;
}
.information-button {
	bottom:0px;
	position:absolute;
}
.information-button:hover {
	opacity: 0.6;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
#information-article hr {
    margin-top: 465px;
    margin-left: 200px;
    width: 770px;
    border-color: #d0ab67;
    border-width: 1px;
    position: absolute;
}
.maya-slider2{
	float: left;
	max-width: 568px;
	margin-top: 44px;
}
.information-content2 {
  margin-top: 44px;
  margin-left: 31px;
  position: relative;
  width: 370px;
  float: left;
  color: black;
  line-height: 25px;
  font-size: 14px;
  text-align: justify;  
  min-height: 357px;
}
#information-article2 hr {
	width: 770px;
    border-color: #d0ab67;
    border-width: 1px;
    position: absolute;
    margin-top: 452px;
    margin-left: 200px;

}
.information-content3 {
  margin-top: 45px;
  margin-left: 185px;
  position: absolute;
  width: 370px;
  float: left;
  color: black;
  line-height: 25px;
  font-size: 14px;
  text-align: justify;  
  min-height: 357px;
}
@media (min-width: 1172px){
	.information-content3{
		margin-left: 200px;
	}
}
.maya-slider3{
	margin-top: 45px;
	float: right;
	max-width: 568px;
}
#post-information {
	background-image: url(../img/pre-section-high.jpg);
	min-height: 130px;
	background-repeat: no-repeat;
	background-position: top center;
	max-width: 1169px;
	margin: 0 auto;
}
.team-project {
	max-width: 1169px;
	height: 1120px;
	color: #fff;
	position: relative;
	margin: 0 auto;
}
.team-project-wrapper {
	height: inherit;
	width: 770px;
	padding-right: 0;
	padding-left: 0;
}
.team-project-navigation{
	min-height: 31px;
	font-size: 10px;
	letter-spacing: -0.55px;
}
.team-project-navigation ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.team-project-navigation li{
	float: left;
	margin-right: 20px;
	margin-top: 35px;
}
.team-project-navigation a{
	color: black;
	font-weight: 700;
	font-family: Verdana;
}
.team-project-navigation a:hover,.team-project-navigation a:focus,.team-project-navigation a:active{
	color: #ccb893;
	text-decoration: none;
}
.team-project-picture {
    width: 771px;
    padding-right: 0;
    padding-left: 2px;
    padding-top: 31px;
    min-height: 647px;
    border-color: #d0ab67;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}
.row.custom-row > [class^="col-"],
.row.custom-row > [class*=" col-"] {
	padding-top: 31px;
}
.row.custom-row .first-line {
	padding-top: 0px;
}
.team-member {
	min-height: 448px;
	color: black;
	padding-left: 0;
	padding-right: 0;	
}
.team-member .col-xs-12 h3 {
	font-size: 20px;
	font-family: Verdana;
	margin-top: 44px;
	margin-bottom: 0px;
}
.team-member .col-xs-12 p {
	margin-top: 4px;
	font-size: 12px;
	font-family: Verdana;
	letter-spacing: 0.22px;
	line-height: 24px;
	margin-bottom: 0px;
}
.team-member a{
	margin-left: -1.3px;
}
.team-member .col-xs-3 {
	margin-top: 57px;
}
.team-member .col-xs-3 a p{
	color:black;
	font-family: Verdana;
	font-size: 13.5px;
	text-align: center;
	margin-top: 10px;
	line-height: 19px;
}
.team-member .col-xs-3 a:hover{
	color:black;
	font-family: Verdana;
	font-size: 13.5px;
	text-align: center;
	text-decoration: none;
}
.team-member .col-xs-3 a p span{
	font-weight: 600;
}