body {
	font-size: 0;
}

.introduce {
	background-image: url(../img/section1_high.jpg);
	min-height: 586px;
	/*max-width: 1169px;*/ /*cach 2*. khi thu nho man hinh web thi background image se co dinh o width cua image*/
	background-repeat: no-repeat;
	background-position:top center;
	/*margin: 0 auto;*/ /* cach 2*/
}
.introduce-screen {
	text-align: center;
}
.introduce .introduce-logo img{
	margin-top: 35px;
}
.introduce .introduce-button img{
	margin-top: 40px;
}
.introduce .introduce-button img:hover{
	opacity: 0.5;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.introduce .introduce-banner img{
	margin-top: 40px;
}
a {
    background: 0 0;
}
.navbar-header {
	margin-left: 115px !important;
	margin-top: 60px !important;
}
@media (min-width: 1200px){
.navbar-header {
	margin-left: 230px !important;
	margin-top: 60px !important;
}}
.about {
	background-image: url(../img/section2_high.jpg);
	min-height: 497px;
	background-repeat: no-repeat;
	background-position: top center;
}
.about-text {
	font-size: 15px;
	color: #fff;
	line-height: 25px;
	margin-top: 40px;
}
.about .about-text span {
	font-size: 20px;
}
.about .about-button img{
	margin-top: 30px;
}
.about .about-button img:hover{
	opacity: 0.5;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.information {
	min-height: 1370px;
	color: #fff;
	width: 1169px;
	margin: 0 auto;
	position: relative;
}
.maya-silder{
	float: right;
	max-width: 568px;
	margin-top: 55px;
}
.maya-indicators{
	bottom: -32px;
}